torch==2.11.0
torchvision==0.26.0
torchcodec==0.11.1
torchdata==0.11.0
torchmetrics==1.9.0
triton==3.6.0
transformers==4.55.4
accelerate==1.13.0
datasets==4.8.5
evaluate==0.4.6
peft==0.19.1
timm==1.0.15
tokenizers==0.21.1
lm_eval==0.4.8
sacrebleu==2.5.1
rouge-score==0.1.2
numpy==2.1.2
pandas==3.0.2
scipy==1.15.2
scikit-learn==1.6.1
einops==0.8.1
opencv-python==4.11.0.86
pillow==11.0.0
pycocotools==2.0.11
decord==0.6.0
wandb==0.19.8
plotly==6.8.0
matplotlib==3.10.9
-e git+https://github.com/ZeminnChen/3D-gaitasunak-ebaluatzen@53cf96a3f7dc765afe9b90f1e1f0a7a6ca36ca11#egg=perception_models&subdirectory=perception_models